<footer>
    <div class="row justify-content-center bg-dark-prad">
        <div class="col-6">
            <ul class="nav justify-content-center py-3">
                <li class="nav-item">
                    <a class="nav-link text-offwhite-prad">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-offwhite-prad">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-offwhite-prad">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-offwhite-prad">Serviços</a>
                </li>
            </ul>
            <hr class="text-offwhite-prad" />
            <p class="text-center text-offwhite-prad py-3">
                ©@DateTime.Now.Year PradCat Medicina Felina LTDA
            </p>
        </div>
    </div>
</footer>