.navbar-light .navbar-nav .nav-link.btn-outline-light-prad {
    color: #fff;
}

a.nav-link.btn.btn-outline-light-prad:hover {
    color: #0F63D4;
}

.navbar-light .navbar-nav .nav-link.btn-primary-prad {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
}

.bg-collapse {
    background-color: none;
}

@media (max-width: 992px) {
    .bg-collapse {
        background-color: #141414;
        background-color: #f1f1f1;
    }

    .navbar-light .navbar-nav .nav-link.btn-outline-light-prad {
        color: #000;
        border-color: #000;
    }

    a.nav-link.btn.btn-outline-light-prad:hover {
        color: #f1f1f1;
        background-color: #000;
    }

    .navbar-light .navbar-nav .nav-link {
        /*color: #fff;*/
        margin: 5px 0px;
    }
}
